body {
    background: #5d89cc;
}

.app {
    padding: 30px;
}

.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 400px;
    padding: 14px;
}

.todo-list ul {
    padding-left: 0;
}

.todo-list li {
    list-style-type: none;
}

.singleTodoItem {
    font-family: "Arial";
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 3px 10px;
}

.completed {
    color: green;
    text-decoration: line-through;
}

.itemInput {
    width: 250px;
}

.addItemButton {
    float: right;
}
